{
    "openapi": "3.0.1",
    "info": {
        "title": "auth",
        "description": "",
        "version": "1.0"
    },
    "servers": [{
        "url": "https://api.codeshed.dev/auth"
    }],
    "paths": {
        "/callback": {
            "get": {
                "summary": "Callback",
                "operationId": "callback",
                "parameters": [{
                    "name": "code",
                    "in": "query",
                    "description": "Authorization Code",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        },
        "/logout": {
            "get": {
                "summary": "Logout",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [{
        "apiKeyHeader": []
    }, {
        "apiKeyQuery": []
    }]
}